.card-container {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem;
  }
  
  .card {
    background-color: rgb(210, 131, 230);
    border: 1px solid #ddd;
    padding: 1rem;
    width: 200px;
    text-align: center;
  }
  
  .card h3 {
    margin-bottom: 1rem;
  }
  
  .card p {
    font-size: 0.9rem;
    color: #666;
  }
  